<div class="container">
  <!-- Returns to Top of Screen -->
	<a href="#top"><h5 class="goUp">Back to Top</h5></a>
</div>
<div class="container mid">
  <div class="row">
  	<!-- Money and Accounts Links -->
  	<table class="money-table">
  		<tr>
  			<td class="money col-sm-3">
  				<h4>Get to Know Us</h4>
  				<a>Careers</a>
  				<a>About Amazon</a>
  				<a>Investor Relations</a>
  				<a>Amazon Devices</a>
  			</td>
  			<td class="money col-sm-3">
  				<h4>Make Money with Us</h4>
  				<a>Sell on Amazon</a>
  				<a>Sell Your Services on Amazon</a>
  				<a>Sell on Amazon Business</a>
  				<a>Sell Your Apps on Amazon</a>
  				<a>Become an Affiliate</a>
  				<a>Advertise Your Products</a>
  				<a>Self-Publish with Us</a>
  				<a>Become an Amazon Vendor</a>
  			</td>
  			<td class="money col-sm-3">
  				<h4>Amazon Payment Products</h4>
  				<a>Amazon.com Rewards Visa Card</a>
  				<a>Amazon.com Store Card</a>
  				<a>Amazon.com Corporate Credit Line</a>
  				<a>Shop with Points</a>
  				<a>Credit Card Marketplace</a>
  				<a>Amazon Currency Converter</a>
  			</td>
  			<td class="money col-xs-3">
  				<h4>Let Us Help You</h4>
  				<a>Your Account</a>
  				<a>Your Orders</a>
  				<a>Shipping Rates & Policies</a>
  				<a>Amazon Prime</a>
  				<a>Returns & Replacements</a>
  				<a>Manage Your Content and Devices</a>
  				<a>Amazon Assistant</a>
  				<a>Help</a>
  			</td>
  		</tr>
  	</table>

  	<!-- Countries Section -->
  	<section class="mid-country">
  		<img src="/assets/images/amazon.png">
  		<div>
  			<a>Australia</a>
  			<a>Brazil</a>
  			<a>Canada</a>
  			<a>China</a>
  			<a>France</a>
  			<a>Germany</a>
  			<a>India</a>
  			<a>Italy</a>
  			<a>Japan</a>
  			<a>Mexico</a>
  			<a>Netherlands</a>
  			<a> Spain</a>
  			<a>United Kingdom</a>
  		</div>
  	</section>
  </div>
</div>
  	<!-- Mini Table -->
<div class="container bottom">
  <div class="row">
  	<table>
  		<tr>
  			<td>
  				<a><span>6pm</span><br>Score deals on fashion brands</a>
  			</td>
  			<td>
  				<a><span>AbeBooks</span><br>Rare Books & Textbooks</a>
  			</td>
  			<td>
  				<a><span>ACX</span><br>Audiobook Publishing Made Easy</a>
  			</td>
  			<td>
  				<a><span>AfterSchool.com</span><br>Kids Sports, Outdoor & Dance Gear</a>
  			</td>
  			<td>
  				<a><span>Alexa</span><br>Actionable Analytics for the Web</a>
  			</td>
  			<td>
  				<a><span>Amazon Business</span><br>Everything For Your Business</a>
  			</td>
  			<td>
  				<a><span>Amazon Fresh</span><br>Groceries & More Right to Your Door</a>
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<a><span>Amazon Global</span><br>Ship Orders Internationally</a>
  			</td>
  			<td>
  				<a><span>Home Services</span><br>Handpicked Pros Happiness Guarantee</a>
  			</td>
  			<td>
  				<a><span>Amazon Web Services</span><br>Scalable Cloud Computing Services</a>
  			</td>
  			<td>
  				<a><span>Audible</span><br>Download Audio Books</a>
  			</td>
  			<td>
  				<a><span>BeautyBar.com</span><br>Prestige Beauty Delivered</a>
  			</td>
  			<td>
  				<a><span>Book Depository</span><br>Books With Free Delivery Worldwide</a>
  			</td>
  			<td>
  				<a><span>Casa.com</span><br>Kitchen, Storage & Everything Home</a>
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<a><span>ComiXology</span><br>Thousands of Digital Comics</a>
  			</td>
  			<td>
  				<a><span>CreateSpace</span><br>Indie Print Publishing Made Easy</a>
  			</td>
  			<td>
  				<a><span>Diapers.com</span><br>Everything But The Baby</a>
  			</td>
  			<td>
  				<a><span>DPReview</span><br>Digital Photography</a>
  			</td>
  			<td>
  				<a><span>East Dane</span><br>Designer Men's Fashion</a>
  			</td>
  			<td>
  				<a><span>Fabric</span><br>Sewing, Quitting & Knitting</a>
  			</td>
  			<td>
  				<a><span>Goodreads</span><br>Book reviews & recommendations</a>
  			</td>
  		</tr>
  	</table>

  	<!-- Copyright Section -->
  	<div class="mid-country">
  		<a>Conditions of Use</a>
  		<a>Privacy Notice</a>
  		<a>Interest-Based Ads</a>
  		<p>&#169; Sky Jacobson</p>
  	</div>
  </div>
</div>
