<div id="Carousel" class="carousel slide">
  <ol class="carousel-indicators">
      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
      <li data-target="#Carousel" data-slide-to="1"></li>
      <li data-target="#Carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="item active">
          <img src="./assets/images/echo.jpg" class="img-responsive">
      </div>
      <div class="item">
          <img src="./assets/images/tote.jpg" class="img-responsive">
      </div>
      <div class="item">
          <img src="./assets/images/prime.jpg" class="img-responsive">
      </div>
  </div>
  <span class="left carousel-control" data-target="#Carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
  </span>
  <span class="right carousel-control" data-target="#Carousel" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>
  </span>
</div>
