<div class="container">
  <div class="row">
  	<div class="left-side">
      <div class="btn-group">
    		<button class="btn btn-sm droptdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    			<b>Department</b><span class="caret"></span>
    		</button>
    		<ul class="dropdown-menu">
    			<li><a>AmazonVideo</a></li>
    			<li><a>Digital & Prime Music</a></li>
    			<li><a>App Store for Android</a></li>
    			<li><a>Amazon Cloud Drive</a></li>
    			<li><a>Kindle E-readers & Books</a></li>
    			<li><a>Fire Tablets</a></li>
    			<li role="separator" class="divider"></li>
    			<li><a>Books and Audible</a></li>
    			<li><a>Movies, Music, and Games</a></li>
    			<li><a>Electronics & Computers</a></li>
    			<li role="separator" class="divider"></li>
    			<li><a>Handmade</a></li>
    			<li><a>Home Services</a></li>
    			<li><a>Credit & Payment Products</a></li>
    		</ul>
    	</div>
    	<!-- Nav Links -->
    	<a>Shopping History</a>
    	<a>Your Amazon.com</a>
    	<a>Today's Deals</a>
    	<a>Gift Cards</a>
    	<a>Sell</a>
    	<a>Help</a>
  	</div>

  	<!-- Bottom Nav Second Button -->
    <div class="right-side">
      <div class="btn-group">
    		<button class="btn btn-sm droptdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    			Hello. Sign in<br><b>Your Account</b> <span class="caret"></span>
    		</button>
    		<ul class="dropdown-menu pull-right">
    			<button type="button" style="background-color: yellow;color: black;width: 100px;">Sign In</button>
    			<li role="separator" class="divider"></li>
    			<li><a>Your Account</a></li>
    			<li><a>Your Order</a></li>
    			<li><a>Your List</a></li>
    			<li role="separator" class="divider"></li>
    			<li><a>Manage Your Content & Devices</a></li>
    			<li><a>Your Video Subscriptions</a></li>
    		</ul>
    	</div>

    	<!-- Bottom Nav Third Button -->
    	<div class="btn-group">
    		<button class="btn btn-sm droptdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    			Try<br><b>Prime</b> <span class="caret"></span>
    		</button>
    		<ul class="rocketman dropdown-menu pull-right">
    			<img src="./assets/images/rocketman.png">
    		</ul>
    	</div>
    	<!-- Bottom Nav Fourth Button -->
    	<div class="btn-group">
    		<button class="btn btn-sm droptdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    			Your<br><b>List</b> <span class="caret"></span>
    		</button>
    		<ul class="dropdown-menu pull-right">
    			<li><a>Create a List</a></li>
    			<li><a>Find a List or Registry</a></li>
    			<li><a>Find a Gift</a></li>
    			<li><a>Wedding Registry</a></li>
    			<li><a>Baby Registry</a></li>
    			<li><a>Kids Birthdays</a></li>
    		</ul>

    	</div>
      <div class="cart">
        <button class="cart glyphicon glyphicon-shopping-cart"></button>
      </div>

      <div style="clear: both;"></div>
    </div>

  </div>
</div>
